/models/obj_v8s.pt
/models/obj_v8x_1k+ds.pt
/models/obj_v8x.pt
/models/obj_v11.pt
/models/pose_v8x.pt


/test_videos/one.mp4
/test_videos/two.mp4
/test_videos/three.mp4
/test_videos/four.mp4
/test_videos/five.mp4


/output_videos/one.mp4
/output_videos/two.mp4
/output_videos/three.mp4
/output_videos/four.mp4
/output_videos/five.mp4


/stub/one.pkl
/stub/two.pkl
/stub/three.pkl
/stub/four.pkl
/stub/five.pkl
